#title-screen
{
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#settings
{
  height: 25%;
  position: absolute;
  left: 50%;
  top: 20%;
}

#play
{
  height: 25%;
  position: absolute;
  left: 50%;
  bottom: 20%;
}

#settings:hover,
#play:hover
{
  height: 25.5%;
}

#settings:hover
{
  top: 19.75%;
}

#play:hover
{
  bottom: 19.75%;
}

body
{
  overflow: hidden;
}
