#title-screen
{
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#settings
{
  height: 25%;
  position: absolute;
  left: 66%;
  top: 25%;
}

#play
{
  height: 25%;
  position: absolute;
  left: 66%;
  bottom: 25%;
}

body
{
  overflow: hidden;
}
